/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
    position: absolute;
    background-color: #fefefe;
    width: 80%;
    top: 20%;
    left: 10%;
    right: 10%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 10px;
    background-color: #428BCA;
    color: white;
}

.modal-body {
    padding: 2px 10px;
}

.modal-footer {
    padding: 2px 10px;
    background-color: #428BCA;
    color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {top: -300px; opacity: 0}
    to {top: 20%; opacity: 1}
}

@keyframes slideIn {
    from {top: -300px; opacity: 0}
    to {top: 20%; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

/* Tab view css */
#exTab3 .nav-pills > li > a {
    border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
    padding : 5px 15px;
    border: 1px solid #111;
    border-radius: 0 0 4px 4px;
}